@model IEnumerable<PostViewModel>

@{
    ViewData["Title"] = "Новости";
}
@*
<table class="table">

    <tbody>
        <div class="container w-75">
            @foreach (var item in Model)
            {
                <div class="raw mb-4" style="background-color:antiquewhite; border-radius:10px; padding: 30px;">


                    <h1 class="text-center mb-3">
                        @item.Title
                    </h1>

                    <div class="row">
                        <div class="col-7">
                            @item.PostBody
                        </div>
                        <div class="col-5">
                            <a asp-action="Details" asp-route-id="@item.Id">
                                <img src="/img/uploads/Posts/@item.PostImage" style="width: -webkit-fill-available; border-radius:5px;" asp-action="Details" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-end text-muted">
                            @item.CreatedAt
                            Комментарии (@item.CommentsNum)
                        </div>
                    </div>
                </div>

            }
        </div>
    </tbody>
</table>

*@

    @await Component.InvokeAsync("_FiveLastPosts")

    <!-- Новости IT -->
    <section class="homeright">
        <div class="container">
            <div class="row">

                <div class="col-8">
                    <h2><a href="/category.html"> Новости IT</a></h2>

                    <div class="row news-wrap">

                        <div class="col-6">
                            <div class="pattern">
                                <a href="/page.html" class="overlay"
                                   style="background-image: url('/img/blog/news/6.jpg')">
                                    <div class="item-news-content">
                                        <h3>Золотистый iPhone предыдущего поколения полодили на тыкву</h3>
                                        <span class="date">05.05.2023</span>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="pattern">
                                <a href="/page.html" class="overlay"
                                   style="background-image: url('/img/blog/news/7.jpg')">
                                    <div class="item-news-content">
                                        <h3>
                                            Программист из Урюково посадил зрение после 22-х лет
                                            работы
                                        </h3>
                                        <span class="date">05.05.2023</span>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="pattern">
                                <a href="/page.html" class="overlay"
                                   style="background-image: url('/img/blog/news/8.jpg')">
                                    <div class="item-news-content">
                                        <h3>Обнаружена первая в мире белая виниловая пластинка без дорожек</h3>
                                        <span class="date">05.05.2023</span>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="pattern">
                                <a href="/page.html" class="overlay"
                                   style="background-image: url('/img/blog/news/9.jpg')">
                                    <div class="item-news-content">
                                        <h3>Человек впервые в мире сделал снимок моря в поле</h3>
                                        <span class="date">05.05.2023</span>
                                    </div>
                                </a>
                            </div>
                        </div>


                    </div>
                </div>


     

            </div>
        </div>

    </section>


    <section class="dark-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2><a href="/category.html">Обзоры</a></h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="col-dark">
                        <a href="#">
                            <img src="img/blog/reviews/10.jpg"
                                 alt="Новый смартфон с функцией настольного пылесоса всколыхнул сообщества гиков по всему миру"
                                 class="img-responsive img-width overlay"
                                 title="Новый смартфон с функцией настольного пылесоса всколыхнул сообщества гиков по всему миру" />
                        </a>
                        <div class="col-item-meta">
                            <div class="item-comments" title="Количество комментариев">
                                <span class="date">25/12/2023</span>
                                <i class="fa-solid fa-comments"></i><a href="#comments_thread"
                                                                 class="item-comments-count">26</a>
                            </div>
                        </div>
                        <h4>
                            <a href="#">
                                Новый смартфон с функцией настольного пылесоса всколыхнул
                                сообщества гиков по всему миру
                            </a>
                        </h4>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="col-dark">
                        <a href="#">
                            <img src="img/blog/reviews/11.jpg"
                                 alt="Sony выпустили новую полупрофессиональную камеру с высоким разрешением"
                                 class="img-responsive img-width overlay"
                                 title="Sony выпустили новую полупрофессиональную камеру с высоким разрешением" />
                        </a>
                        <div class="col-item-meta">
                            <div class="item-comments" title="Количество комментариев">
                                <span class="date">25/12/2023</span>
                                <i class="fa-solid fa-comments"></i><a href="#comments_thread"
                                                                 class="item-comments-count">26</a>
                            </div>
                        </div>
                        <h4>
                            <a href="#">
                                Sony выпустили новую полупрофессиональную камеру с высоким разрешением
                            </a>
                        </h4>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="col-dark">
                        <a href="#">
                            <img src="img/blog/reviews/12.jpg"
                                 alt="Флагман от Samsung 2023 года продолжает радовать своих покупателей новыми функциями"
                                 class="img-responsive img-width overlay"
                                 title="Флагман от Samsung 2023 года продолжает радовать своих покупателей новыми функциями" />
                        </a>
                        <div class="col-item-meta">
                            <div class="item-comments" title="Количество комментариев">
                                <span class="date">25/12/2023</span>
                                <i class="fa-solid fa-comments"></i><a href="#comments_thread"
                                                                 class="item-comments-count">26</a>
                            </div>
                        </div>
                        <h4>
                            <a href="#">
                                Флагман от Samsung 2023 года продолжает радовать своих покупателей новыми функциями
                            </a>
                        </h4>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="col-dark">
                        <a href="#">
                            <img src="img/blog/reviews/13.jpg"
                                 alt="Bubble gum начал производство разноцветных наклеек, пожевав которые вы впадаете в депрессию"
                                 class="img-responsive img-width overlay"
                                 title="Bubble gum начал производство разноцветных наклеек, пожевав которые вы впадаете в депрессию" />
                        </a>
                        <div class="col-item-meta">
                            <div class="item-comments" title="Количество комментариев">
                                <span class="date">25/12/2023</span>
                                <i class="fa-solid fa-comments"></i><a href="#comments_thread"
                                                                 class="item-comments-count">26</a>
                            </div>
                        </div>
                        <h4>
                            <a href="#">
                                Bubble gum начал производство разноцветных наклеек, пожевав которые вы впадаете в
                                депрессию
                            </a>
                        </h4>
                    </div>
                </div>

            </div>

        </div>

    </section>


    <!-- Лайфхаки -->
    <section class="homeright">
        <div class="container">
            <div class="row">

                <div class="col-8">
                    <h2><a href="/category.html"> Лайфхаки</a></h2>

                    <div class="row news-wrap ">

                        <div class="col-6">
                            <div class="pattern">
                                <a href="/page.html" class="overlay"
                                   style="background-image: url('/img/blog/lifehacks/14.jpg')">
                                    <div class="item-news-content">
                                        <h3>Как сфотографировать себя на телефон с зеркалкой</h3>
                                        <span class="date">05.05.2023</span>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="pattern">
                                <a href="/page.html" class="overlay"
                                   style="background-image: url('/img/blog/lifehacks/15.jpg')">
                                    <div class="item-news-content">
                                        <h3>Упрощаем жизнь наушникам, вешаем их на мониторы</h3>
                                        <span class="date">05.05.2023</span>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="pattern">
                                <a href="/page.html" class="overlay"
                                   style="background-image: url('/img/blog/lifehacks/16.jpg')">
                                    <div class="item-news-content">
                                        <h3>Как разложить фотоаппараты на столе и не запутаться</h3>
                                        <span class="date">05.05.2023</span>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="pattern">
                                <a href="/page.html" class="overlay"
                                   style="background-image: url('/img/blog/lifehacks/17.jpg')">
                                    <div class="item-news-content">
                                        <h3>Правильное подключение проводов к магнитофону</h3>
                                        <span class="date">05.05.2023</span>
                                    </div>
                                </a>
                            </div>
                        </div>


                    </div>
                </div>


                

            </div>
        </div>

    </section>



 






 