@model IEnumerable<PostViewModel>


@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>

<p>
    <a asp-action="Create">Создать новый</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Slug)</th>
            <th>@Html.DisplayNameFor(model => model.CreatedAt)</th>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.PostBody)</th>
            <th>@Html.DisplayNameFor(model => model.CommentsNum)</th>
            <th>@Html.DisplayNameFor(model => model.PostImage)</th>
            <th style="width:300px;">@Html.DisplayNameFor(model => model.PostVideo)</th>
            <th>Изменить</th>
            <th>Удалить</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Slug</td>
                <td>@item.CreatedAt</td>
                <td>@item.Title</td>
                <td>@item.PostBody</td>
                <td>@item.CommentsNum</td>
                 <td>
                 <a asp-action="Details" asp-route-id="@item.Id">
                <img src="/img/uploads/Posts/@item.PostImage" style="max-height:150px; width:auto; border-radius:5px;" alt="" />
                   </a>
                 </td>

                <td>
                    <div style="position: relative; padding-bottom: 56.25%; height: 0;">
                        <iframe style="border: solid 5px black; border-radius: 5px; position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://www.youtube.com/embed/@item.PostVideo" title="@item.Title" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </td>

                <td><a asp-action="UpdateGet" asp-route-id="@item.Id"><i class="fa-solid fa-pencil fa-fade" style="font-size:48px; color: #917cf8;"></i></a></td>
                <td><a asp-action="Delete" asp-route-id="@item.Id"> <i class="fa fa-remove" style="font-size:48px;color:red"></i></a></td>

            </tr>
        }
    </tbody>
</table>


