@model IEnumerable<PostViewModel>


@{
    ViewData["Title"] = "Посты";
}
<h1>Посты</h1>

@if (User.Identity.IsAuthenticated)
{

    <div class="col-2 text-left mb-2">
        <a asp-action="Create" class="btn btn-success mb-2">Новый пост</a>
        <a asp-area="Admin" asp-controller="Posts" asp-action="GenerateRandomPosts" asp-route-count="1" class="btn btn-danger mt-2">+1 случайный пост</a>
        <a asp-area="Admin" asp-controller="Posts" asp-action="GenerateRandomPosts" asp-route-count="5" class="btn btn-danger mt-2">+5 случайных постов</a>
        <a asp-area="Admin" asp-controller="Posts" asp-action="GenerateRandomPosts" asp-route-count="20" class="btn btn-danger mt-2">+20 случайных постов</a>
    </div>
}

<table class="table">
    <thead class="text-center">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Slug)</th>
            <th>@Html.DisplayNameFor(model => model.CreatedAt)</th>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.PostBody)</th>
            <th>@Html.DisplayNameFor(model => model.CommentsNum)</th>
            <th>@Html.DisplayNameFor(model => model.PostImage)</th>
            <th style="width:300px;">@Html.DisplayNameFor(model => model.PostVideo)</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="text-center">
                <td>@item.Id</td>
                <td>@item.Slug</td>
                <td>@item.CreatedAt.ToString("dd.MM.yyyy HH:mm:ss")</td>
                <td>@item.Title</td>
                <td class="limited-lines">@item.PostBody</td>

                <td>@item.CommentsNum</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <img src="/img/uploads/Posts/@item.PostImage" style="max-height:150px; width:auto; border-radius:5px;" alt="" />
                    </a>
                </td>

                <td>
                    <div style="position: relative; padding-bottom: 56.25%; height: 0;">
                        <iframe style="border: solid 5px black; border-radius: 5px; position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://www.youtube.com/embed/@item.PostVideo" title="@item.Title" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </td>

                <td>
                    <a asp-action="UpdateGet" asp-route-id="@item.Id"><i class="fa-solid fa-pencil" style="font-size: 38px; color: #917cf8;"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash" style="font-size: 38px; color: red;"></i></a>
                </td>


            </tr>
        }
    </tbody>
</table>


<style>

    .limited-lines {
        display: -webkit-box;
        -webkit-line-clamp: 5; /* Количество строк, которые будут видны */
        -webkit-box-orient: vertical;
        overflow: hidden;
        position: relative;
        /* Применяем маску для текста с помощью изображения */
        -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 1)), color-stop(65%, rgba(0, 0, 0, 0.9)), color-stop(100%, rgba(0, 0, 0, 0.1)));
    }
</style>