@model MenuCatPostViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MenuItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePost">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <input type="hidden" asp-for="MenuId" class="form-control" value="@Model.MenuId" />
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Position" class="control-label"></label>
                <input asp-for="Position" class="form-control" />
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>


            @Html.DropDownList("SelectedOption", new List<SelectListItem>
            {
            new SelectListItem { Text = "На пост", Value = "Post" },
            new SelectListItem { Text = "На Категорию", Value = "Category" },
            new SelectListItem { Text = "Задать свой путь", Value = "CustomUrl" }
            }, "Выберите на что будет ссылаться пункт меню", new { @class = "form-control", id = "selectedOptionDropdown" })

            <hr />

            @Html.DropDownListFor(model => model.Categories, new SelectList(Model.Categories, "Slug", "Name"), "Выберите категорию", new { @class = "form-control dropdown-content", id = "categoriesDropdown" })

            @Html.DropDownListFor(model => model.Posts, new SelectList(Model.Posts, "Slug", "Content.Title"), "Выберите пост", new { @class = "form-control dropdown-content", id = "postsDropdown" })

            <div class="form-group" id="urlBlock">
                <label asp-for="Url" class="control-label">Url</label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>

            <hr />

            <script>
                // Получаем ссылки на выпадающие списки и блок URL
                var selectedOptionDropdown = document.getElementById("selectedOptionDropdown");
                var categoriesDropdown = document.getElementById("categoriesDropdown");
                var postsDropdown = document.getElementById("postsDropdown");
                var urlBlock = document.getElementById("urlBlock");

                // Скрываем все выпадающие списки и блок URL
                categoriesDropdown.style.display = "none";
                postsDropdown.style.display = "none";
                urlBlock.style.display = "none";

                // Отслеживаем изменение значения в выбранном пункте выпадающего списка
                selectedOptionDropdown.addEventListener("change", function () {
                    var selectedOption = this.value;

                    // Показываем/скрываем соответствующий выпадающий список или блок URL в зависимости от выбранного значения
                    if (selectedOption === "Category") {
                        categoriesDropdown.style.display = "block";
                        postsDropdown.style.display = "none";
                        urlBlock.style.display = "none";
                    } else if (selectedOption === "Post") {
                        categoriesDropdown.style.display = "none";
                        postsDropdown.style.display = "block";
                        urlBlock.style.display = "none";
                    } else if (selectedOption === "CustomUrl") {
                        categoriesDropdown.style.display = "none";
                        postsDropdown.style.display = "none";
                        urlBlock.style.display = "block";
                    } else {
                        categoriesDropdown.style.display = "none";
                        postsDropdown.style.display = "none";
                        urlBlock.style.display = "none";
                    }
                });
            </script>








            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="IndexMenuItem" asp-route-id="@ViewBag.MenuID">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
