@model IEnumerable<Portal.DAL.Entities.MenuItem>

@{
    ViewData["Title"] = "Пункты меню №" + @ViewBag.MenuID;
}

<h1>Пункты меню №@ViewBag.MenuID</h1>

<p>
    <a asp-action="CreateItemInMenuId" asp-route-id="@ViewBag.MenuID">Создать пункт</a>
</p>
<table class="table w-50">
    <thead>
        <tr>
            <th>Позиция в меню</th>
            <th>Название пункта</th>
            <th>Slug</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Position)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Slug)</td>
                <td><a asp-action="DeleteMenuItem" asp-route-id="@item.Id" asp-route-menuId="@ViewBag.MenuID">Удалить</a></td>
                <td><a asp-action="Edit" asp-route-id="@item.Id"  >Изменить</a></td>
            </tr>
        }
    </tbody>
</table>
