@using Portal.DAL.Entities;
@model List<Message>
@{
    ViewData["Title"] = "Чат";
}
<div class="chat">

    <h3>Чат:</h3>    <br />

    <div class="history">
        <div class="chat-last" id="chat">
            @if (Model.Count == 0)
            {
                <p>Пока нет сообщений</p>
            }
            else
            {
                <div class="row textchat">
                    @foreach (Message message in Model)
                    {
                        <div class="col-12">
                            <div class="textmessage @(ViewBag.UserId == message.UserId ? "textuser float-end text-end" : "textsomebody float-start")">
                                <img src="~/img/uploads/Profiles/@message?.User?.Profile.AvatarImg" alt="@message.User.Login" style="height: 80px; border-radius: 5px;" />
                                @message.TextMessage <br />

                                <span class="text-muted " style="font-size:10px;">
                                    <b>@message.User.Profile.Firstname @message.User.Profile.Lastname</b>   <br />
                                    @message.SentAt
                                </span>
                            </div>
                        </div>

                    }
                </div>
            }
        </div>
    </div>
</div>

<div class="chat-form">
    <form asp-controller="Chats" asp-action="AddMessage">
        <input type="hidden" name="ChatId" value="@ViewBag.ChatId" />
        <input type="hidden" name="UserId" value="@ViewBag.UserId" />

        <div class="row">
            <div class="col-1 d-flex align-items-center justify-content-center">
                <img src="~/img/uploads/Profiles/@ViewBag.Avatar" style="height:80px; border-radius:5px;" />
            </div>

            <div class="col-11">
                <div class="messagebox">
                    <textarea name="TextMessage" placeholder="Ваше сообщение..."></textarea>
                </div>
            </div>
        </div>


        <div class="form-group d-flex justify-content-end mx-4">
            <button class="addmessage-btn" type="submit">Отправить</button>
        </div>
    </form>
</div>




<style>

    .textmessage {
        border: solid 1px lightgray;
        border-radius: 10px;
        margin: 5px 0 5px 0;
        padding: 5px 10px 5px 10px;
        box-shadow: 3px 3px 3px gray;
        max-width: 80%;
    }

    .textsomebody {
        padding-bottom: 20px;
        background: rgb(225,224,231);
        background: radial-gradient(circle, rgba(225,224,231,0.693069306930693) 0%, rgba(216,212,240,0.8127626050420168) 100%);
    }

    .textuser {
        padding-bottom: 20px;
        background: rgb(231,231,224);
        background: radial-gradient(circle, rgba(231,231,224,0.693069306930693) 0%, rgba(240,240,212,0.8127626050420168) 100%);
    }
</style>






<style>
    .history {
        height: 70vh;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 10px;
        background-color: #fbfff5;
        display: flex;
        flex-direction: column-reverse;
        border-radius: 10px;
        box-shadow: 3px 3px 10px gray;
    }

        /* Скрыть полосу прокрутки в Chrome и Safari */
        .history::-webkit-scrollbar {
            width: 0.4em;
        }

        .history::-webkit-scrollbar-track {
            background-color: transparent;
        }

        .history::-webkit-scrollbar-thumb {
            background-color: #888;
            border-radius: 0.5em;
        }
</style>

}

<style>
    .message {
        margin: 5px 0 10px 0;
        padding: 8px 3px 8px 3px;
        background-image: linear-gradient(to bottom, #FAFAFA, #F0F0F0);
        border-radius: 8px;
        border: 2px solid rgba(241, 242, 217, 0.1);
        -webkit-box-shadow: 3px 3px 7px 0px rgba(34, 60, 80, 0.14);
        -moz-box-shadow: 3px 3px 7px 0px rgba(34, 60, 80, 0.14);
        box-shadow: 3px 3px 7px 0px rgba(34, 60, 80, 0.14);
    }



    .messagebox {
        margin: 20px;
        background-color: #fafafa;
    }

    textarea {
        width: 100%;
        resize: vertical;
        padding: 15px;
        border-radius: 15px;
        border: 2px solid rgba(241, 242, 217, 0.2);
        box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
        height: 150px;
    }

    .addmessage-btn {
        display: inline-flex;
        margin: 10px;
        text-decoration: none;
        border: 2px solid #706c6c;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        font-size: 20px;
        line-height: 20px;
        padding: 12px 30px;
        color: #FFF;
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Roboto', Тahoma, sans-serif;
        background: #a3a2a2;
        transition: box-shadow 0.3s, transform 0.3s;
        cursor: pointer;
    }

        .addmessage-btn:hover,
        .addmessage-btn:active,
        .addmessage-btn:focus {
            transform: translateY(-4px);
            box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
            color: #FFF;
        }

        .addmessage-btn:before {
            content: "";
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background: linear-gradient(-45deg, transparent, rgba(191, 226, 255, 0.3), transparent);
            transition: left 0.7s;
        }

        .addmessage-btn:hover:before,
        .addmessage-btn:active:before,
        .addmessage-btn:focus:before {
            left: 100%;
        }

</style>