@model List<Portal.DAL.Entities.PostCategory>



<div class="pattern pattern-cat-header">
    <div class="cat-header overlay" style="background-image: url('/img/uploads/Categories/@Model.FirstOrDefault().Category.CategoryImage'); width:600px; height:400px;">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="cat-header-block">
                        <h1>@Model.FirstOrDefault().Category.Name </h1>
                        <p>@Model.FirstOrDefault().Category.Description</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cat-list-first">
    <div class="container">

        <div class="ad top-ad">
            <img src="img/uploads/Categories/@Model.FirstOrDefault().Category.CategoryImage" alt="alt" class="img-responsive">
        </div>
        <section class="type-one type-one-cat">
            <div class="row">

                <div class="col-md-7">
                    @foreach (Portal.DAL.Entities.PostCategory pc in Model)
                    {
                        <div class="type-one-first">
                            <a href="#" title="@pc.Post.Content.Title">
                                <img src="/img/uploads/Posts/@pc.Post.Content.PostImage" alt="alt" class="img-responsive img-width">
                            </a>
                            <div class="item-social">
                                <div class="item-comments" title="Количество комментариев">
                                    <i class="fa fa-comment"></i><a class="item-comments-count" href="#disqus_thread">@pc.Post.Content.CommentsNum</a>
                                    <span class="date">@pc.Post.CreatedAt</span>
                                </div>
                            </div>
                            <h3><a href="#">@pc.Post.Content.Title</a></h3>
                        </div>
                        @*break;*@
                    }

                </div>
            </div>
        </section>

    </div>
</div>

<hr />

<div class="cat-list">
    <div class="container">
        <div class="row">

            <div class="col-md-8">

                <div class="cat-list-wrap">

                    <div class="cat-list-wrap">
                        @foreach (Portal.DAL.Entities.PostCategory pc in Model)
                        {
                            <a href="#" class="cat-list-item">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="pattern">
                                            <img src="/img/uploads/Posts/@pc.Post.Content.PostImage" alt="Alt" class="img-responsive overlay">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <h3>@pc.Post.Content.Title</h3>
                                        <div class="date">@pc.Post.CreatedAt</div>
                                        <p>@pc.Post.Content.PostBody </p>
                                    </div>
                                </div>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

