@using Portal.DAL.Entities;
@model PostViewModel

@{
    ViewBag.Title = Model.Title;
}
@*
<div style="position: relative; justify-content:center; padding-bottom: 56.25%;">
    <iframe style="border: solid 5px black; border-radius:5px; position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://www.youtube.com/embed/@Model.PostVideo" title="@Model.Title" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>*@


<header class="page-header overlay" style="background-image: url('/img/uploads/Posts/@Model.PostImage')">

    <div class="page-header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-8">

                    <div class="page-header-meta">

                        <a href="#" class="page-category-link">cat</a> <span class="date">21/06/2023</span>

                        <h1>@Model.Title</h1>

                        <div class="item-social">
                            <div class="item-comments" title="Количество комментариев">
                                <i class="fa fa-comment"></i><a href="#comments_thread" class="item-comments-count">@Model.CommentsNum</a>
                            </div>
                            <div class="fa fa-share-alt" title="Поделиться в соц. сетях"></div>
                            <div class="likely likely-custom" data-media="/uploads/@Model.PostImage" data-title="@Model.Title">
                                <div class="vkontakte" title="Поделиться Вконтакте">Вконтакте</div>
                                <div class="facebook" title="Поделиться в Facebook">Facebook</div>
                                <div class="twitter" title="Поделиться в Twitter">Twitter</div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</header>

<div class="article-content">
    <div class="container">
        <div class="row">

            <div class="col-md-8">

                <article class="main-article">

                    <nav class="breadcrumbs">
                        <ul>
                            <li><a href="/">Главная</a></li>
                            <li><a href="#">category</a></li>
                            <li class="active">@Model.Title</li>
                        </ul>
                    </nav>

                    <div class="article-body">

                        <div class="ad article-top-ad">
                            <img src="~/img/aX-horizontal.jpg" alt="alt" class="img-responsive">
                        </div>

                        @Html.Raw(Model.PostBody)

                    </div>

                    <div class="likely-on-page">
                        <div class="likely" data-media="/uploads/@Model.PostImage" data-title="@Model.Title">
                            <div class="vkontakte" title="Поделиться Вконтакте">Вконтакте</div>
                            <div class="facebook" title="Поделиться в Facebook">Facebook</div>
                            <div class="twitter" title="Поделиться в Twitter">Twitter</div>
                            <div class="odnoklassniki" title="Класснуть">Класснуть</div>
                            <div class="gplus" title="Плюсануть">Плюсануть</div>
                        </div>
                    </div>



                @*    <div class="read-more">
                        <div class="read-more-header">Читать еще:</div>
                        <ul>
                            @foreach (var postElse in Model.Category.Posts.ToList())
                            {
                                <li>
                                    <a asp-controller="Category"
                                       asp-action="Post"
                                       asp-route-categorySlug="category Slug"
                                       asp-route-postSlug="#">
                                        @postElse.Content.Title
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>*@


                    <div class="comments">

                        <h4>Comments</h4>
                        <div class="comments-last">
                            <div class="row">
                                @foreach (Comment comment in Model.Comments)
                                {
                                    <div class="col-5">
                                        @comment.UserId
                                        <br>
                                        @comment.CreatedAt.ToShortDateString()
                                    </div>
                                    <div class="col-7">
                                        @comment.TextComment
                                    </div>
                                }
                            </div>
                        </div>
                        <hr />
                        <div class="comments-form">
                            <form asp-action="AddComment" method="post">
                                <input type="hidden" name="categorySlugOld" value="@Model.Category" />
                                <input type="hidden" name="postSlugOld" value="@Model.Slug" />
                                <input type="hidden" name="Url" value="@Model.Slug" />

                                <div class="form-group">
                                    <label class="control-label">Имя</label>
                                    <input name="Name" class="form-control" />
                                </div>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <input type="hidden" name="Email" value="@User.Identity.Name" />
                                }
                                else
                                {
                                    <div class="form-group">
                                        <label class="control-label">Email</label>
                                        <input name="Email" class="form-control" />
                                    </div>
                                }
                                <div class="form-group">
                                    <label class="control-label">Сообщение</label>
                                    <textarea name="Message" class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Отправить" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>

                </article>

            </div>

            <div class="col-md-4">

                <aside class="main-aside">

                    <div class="aside-box">
                        await Component.InvokeAsync("Lasts")
                    </div>

                    <div class="aside-box">
                        <img src="img/vk-witget.jpg" alt="alt" class="img-responsive">
                    </div>

                    <div class="aside-box">
                        Latest Comments
                    </div>

                </aside>

            </div>

        </div>
    </div>
</div>