@using Portal.DAL.Entities;
@model List<MyLogger>



<table class="cinereousTable">
    <thead>
        <tr>
            <th>Id</th>
            <th>Время</th>
            <th>Логин</th>
            <th>Имя и фамилия</th>
            <th>IP</th>
            <th>Адрес ссылки</th>
        </tr>
    </thead>

    <tbody>
        @foreach (MyLogger log in @Model)
        {
            <tr>
                <td>@log.Id</td>
                <td>@log.Date.ToString("dd.MM.yyyy HH:mm:ss")</td>
                <td>@log.User.Login</td>
                <td>@log.User.Profile.Lastname @log.User.Profile.Firstname</td>
                <td>@log.UserIP</td>
                <td><a href="@log.UserClick">@log.UserClick</a></td>
            </tr>
        }
    </tbody>
</table>

 